@use "../../scss/" as *;

.footer{
    position: relative;
    // padding: 6rem 2rem;
    padding-top: 6rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    &__content{
        max-width: 1000px;

        &__logo{
            @include flex(center, center);
            margin-bottom: 3rem;

            .logo {
                img {
                  margin-right: 10px;
                  width: 330px;
              
                  @include mobile {
                    width: 250px;
                    margin-right: 0;
                  }
                }
              }
        }

        &__menus{
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            @include mobile{
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &__menu{
            @include flex(flex-start, flex-start);
            flex-direction: column;
            margin-top: 1rem;

            font-size: 1.2em;
            font-weight: 600;

            & > * ~ *{
                margin-top: 1rem;
            }
        }
    }

    .rights{
        padding-top: 4rem;
        @include flex(center, center)
    }
}