@use "../../scss/" as *;

.logo {
  @include flex(center, unset);

  img {
    margin-right: 10px;
    width: 240px;

    @include mobile {
      width: 220px;
      margin-right: 0;
    }
  }
}

.header{
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: height .3s ease background-color .3s ease;

    &.shrink{
        height: $header-shrink-height;
        background-color: $body-bg;
    }

    &__wrap{
        @include flex(center, space-between);
        height: 100%;
        padding: 0 6rem;

        @include mobile{
            justify-content: center;
        }
    }

    &__nav{
        @include flex(center, unset);

        & > * ~ *{
            margin-left: 2rem;
        }

        li{
            padding: 5px 0;
            user-select: none;
            font-weight: 700;
            position: relative;
            font-size: 1.3em;

            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                transition: width 0.4s ease;
                height: 2px;
                background-color: $mainColor;
            }

            &.active::after, &:hover::after{
                width: 100%;
            }
        }

        .profileCircle{
            border-radius: 5px;
            object-fit: cover;
            cursor: pointer;
            background-color: #333;

            p{
                padding: 0px 7px;
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                user-select: none;
                font-size: 30px;
                font-weight: 500;
                text-align: center;
            }

            // img{
            //     width: 35px;
            //     height: 35px;
            //     border-radius: 5px;
            // }

            .options{
                display: none;
                background-color: #222;
                border-radius: 5px;
                margin-top: 5px;
            }

            span{
                display: inline-block;
                font-size: 1rem;
                padding: 10px;
                cursor: pointer;

                &:hover{
                    color: $mainColor;
                    transition: all 0.4s ease;
                }
            }

            &:hover{
                .options{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                }
            }

            @include mobile{
                display: flex;
                flex-direction: column-reverse;

                p{
                    width: 30px;
                    height: 30px;
                    font-size: 23px;
                }

                .options{
                    margin-bottom: 30px;
                }
            }
        }

        @include mobile{
            position: fixed;
            bottom: 0;
            left: 0;
            height: 5rem;
            width: 100%;
            background-color: $body-bg;
            padding: 0 2rem;
            box-shadow: $box-shadow;

            @include flex(center, space-between);

            & > * ~ *{
                margin-left: 0;
            }
        }
    }
}
